RescueGroups.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="rescueGroups">
  <xs:complexType>
    <xs:attribute name="url" type="xs:string" use="required" />
    <xs:attribute name="apiKey" type="xs:string" use="required" />
    <xs:attribute name="username" type="xs:string" use="required" />
    <xs:attribute name="password" type="xs:string" use="required" />
    <xs:attribute name="accountNumber" type="xs:string" use="required" />
  </xs:complexType>
</xs:element>
</xs:schema>